.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 14vw;
}
/* src/components/signup.scss */

/* Container for the signup page */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: whitesmoke;
  color: gray;
  padding: 2rem;
  width: 1200px;
}

/* Styling for the form and image sections */
.signup-form,
.signup-image {
  width: 50%;
}

/* Form styling */
.signup-form {
  padding: 20px;
  width: 90%;
  margin: auto; /* Center the form horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--neutral-color);
}

/* Header section of the form */
.signup-header {
  text-align: center;
  color: #e45122;
  margin-bottom: 20px;
}
.signup-logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.signup-header h1 {
  color: #e45122;
  margin: 5px; /* Increase bottom margin */
}

.signup-header p {
  font-size: 1rem;
  color: rgb(105, 105, 105);
}

/* Form fields and layout */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between first name and last name fields */
}

.form-field {
  flex: 1;
}

.form-field label {
  font-size: 1rem;
  color: #e45122;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px 0;
  display: block;
}



.form-field input,
.form-field select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid rgb(185, 184, 184);
  border-radius: 6px;
}

.form-field input:focus,
.form-field select:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* Primary button styling */
.btn-primary {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}
.btn-primary:hover{
  background-color: white !important;
  border: 1px solid #e45122 !important;
}

/* Signup prompt styling */
.signup-prompt {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.signup-prompt a {
  color: #e45122;
  text-decoration: none;
}

.signup-prompt a:hover {
  text-decoration: underline;
}
.signup-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
  width: 90%;
  min-height: 120px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.sign-up-image{
  position: relative;
  background-image: url('../../../public/reg-page-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sign-up-overlay{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.success-wrapper{
  width: 600px;
  height: 400px;
  background-color: white;
  margin-top: 4rem;
}
.success-wrapper img {
  display: block;
  margin: 0px auto;
}
.success-wrapper h2{
  color: #4caf50 !important;
}
.success-wrapper p{
  color: #4caf50;
}
.error-container{
  background-color: rgb(234, 50, 50);
  width: 70%;
  margin: 0px auto;
  padding: 1rem;
  border-radius: 6px;
}
.error-container p{
  color: white;
}