body{
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5rem;
}
.user1 {
  position: relative;
}
.user2 {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20vw;
  cursor: pointer;
}
.user3 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 19%;
  left: 85%;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  cursor: pointer;
}
.user4 {
  position: absolute;
  width: 59px;
  height: 66px;
  top: 47%;
  left: 85%;
  border-radius: 8px;
  cursor: pointer;
}
.user4:hover{
  transform: scale(1.05);
}
.user3:hover{
  transform: scale(1.05);
}
.prop{
  position: absolute;
  margin-left: 25rem;
  margin-top: 8rem;
  width: 10%;
}
.market{
  position: absolute;
  margin-left: 48rem;
  margin-top: 2rem;
}
.market1{
  font-size: larger;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #e45122;
  font-weight: bolder;
}
.market2{
  margin-left: 13rem;
  font-size: larger;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #e45122;
  font-weight: bolder;
}
.username {
  position: absolute;
  top: 30%;
  left: 35%;
}
.username h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  color: #ffffff;
  left: 40%;
}
.wallet {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  text-align: left;
  color: #ffffff;
}
.amount {
  font-family: sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  color: white;
  margin-left: 7px;
}
.userimage{
    margin-left: 7rem;
    margin-top: 17rem;
    width: 30vw;
}
.userimage .user5{
    padding: 1rem;
    width: 245px;
height: 259px;
top: 516px;
left: 621px;
gap: 0px;
opacity: 0px;

}
.userimage .user6{
    padding: 1rem;
    width: 245px;
height: 259px;
top: 516px;
left: 621px;
gap: 0px;
opacity: 0px;

}
.user7{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 20vw;
}
.my-props{
  background-color: white;
  width: 55%;
  height: 200px;
  margin-left: 30rem;
  margin-top: 5rem;
  padding: 10px;
}
.unauthorized-wrapper{
  background-color: white;
  width: 100%;
  min-height: 500px;
}
.unauthorized-wrapper img{
  display: block;
  margin: 0px auto;
}
.unauthorized-wrapper a{
  color: #e45122;
  border: 1px solid #e45122;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  margin: 0px auto;
}
.unauthorized-wrapper .btn-link{
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.accountnumber{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;
  font-size: 2rem;
}
