.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
.pop2{
    font-size: larger;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #e45122;
    font-weight: bolder;
    margin-left: 46rem;
    margin-top: 2rem;
}