.container{
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: o 2px 10px rgba(0, 0, 0, 0.1);
}
.container h1{
    text-align: center;
    color: #e45122;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container label{
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
.container input, select{
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.container button{
    padding: 10px 15px;
    background-color: #e45122;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.container h2{
    text-align: center;
    color: #e45122;
    margin-top: 20px;
}
.prediction{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}